# Build directories
/build/
/build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
DartConfiguration.tcl
Uninstall.cmake
compile_commands.json
install_manifest.txt
/Makefile
/Testing/

# Ninja
*.ninja
.ninja_deps
.ninja_log
.ninja_lock

# Binaries
/bin/

# Libraries
/src/librct.a
/src/librtags.a
/src/librtags.dylib
/src/librtags.so
/src/libshared.so
/src/libshared.dylib
/bin/librtagsclang.dylib

# Generated
/src/include/rct/rct-config.h
/src/include/RTagsVersion.h
/src/*.elc
/src/*_cotire.cmake
/src/cotire/
/src/completions/*
/src/vast/*.cmake
/src/vast/vast_autogen/
/src/*.eln-stamp
/source/VERSION
/share/

# Node
node_modules/

# Test artifacts
/tests/186/
/tests/dtlcpptest/dtlcpptest
/automated_tests/test_runner.pyc
test-results.xml

# Debug
.gdb_history
.gdb_brestore
.gdb_brestore.txt

# Misc
core
*.pyc
.lsdev_default
/emake.xml
/emake.data
/emake.data.bak
/.emake/
/testfile.txt
/empty.txt
/src/llvmclang-prefix/
