*.o
*.a
*.moc
Makefile
core
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
rc
rdm
.gdb_history
3rdparty/*-prefix
3rdparty/*_build
3rdparty/*_install
3rdparty/clang/
3rdparty/config.log
3rdparty/leveldb/
3rdparty/llvm/
/src/rct/
/3rdparty/esprima/
/3rdparty/rct/
/3rdparty/v8/
/bin/clangtest
/bin/gr
/3rdparty/picojson/
/3rdparty/libcxx/
