*.o
*.a
*.moc
Makefile
moc_*
core
libmakelib.so
cplusplus-frontend/cplusplus0
CMakeFiles/
Pch.h.gch
cmake_install.cmake
gccopts_gperf.h
CMakeCache.txt
rc
rdm
.gdb_history
3rdparty/*-prefix
3rdparty/*_build
3rdparty/*_install
3rdparty/clang/
3rdparty/config.log
3rdparty/leveldb/
3rdparty/llvm/
